doctype html
html(lang='en')
    head
        title=sitename
        meta(charset='utf-8')
        if production
            meta(name='author', content='Brendon Body - https://github.com/bbody/CMD-Resume')
            meta(name='Description', content='CMD Resume using JQuery Terminal')
                
        include partials/favicons.pug

        script(src=jquery_script_location, type="text/javascript")
        script(src=cmd_resume_script_location, type="text/javascript")
        script(src=keyboard_polyfill, type="text/javascript")
        script(src=jquery_terminal_script_location, type="text/javascript")
        if init_script_location
            script(src=init_script_location, type="text/javascript")
        link(href=jquery_terminal_stylesheet_location, rel='stylesheet')

        if production
            include partials/analytics.pug

        link(href="https://fonts.googleapis.com/css?family=Ubuntu+Mono", rel="stylesheet")
        style
            include partials/style.css
    body
        if production
            include partials/github_banner.pug
            div#issue-embed
            script(src="https://cdn.issueembed.dev/issue-embed.min.js", type="text/javascript")
            script.
                $(document).ready(function() {
                    issueEmbed.init("#issue-embed", {
                        key: "755470cf-96e9-4d50-f6c6-e9c6a8457362",
                        position: "MIDDLE-BOTTOM"
                    });
                });